---
---
@import "bourbon/bourbon";
@import "base/base";


$navi-background-color: #a42;
$base-color: #a00;

body {
    margin: 0;
    background-color: $base-color;

    .body-wrapper {
	background-color: white;
    }
}

a {
    color: #600;

    &:hover {
	color: #360;
    }
}

.navigation {
    line-height: 44px;
    background-color: $base-color;
    padding: 0;
    margin: 0;

    .navigation-wrapper {
	padding: 0;
    }

    a {
	color: white;
	display: inline-block;
	font-weight: bold;
	padding: 0 1em;
	margin: 0;

	&:hover {
	    background-color: $navi-background-color;
	    color: $base-color;
	}
    }
    h1 {
	background-color: $navi-background-color;
	display: inline-block;
	font-size: 14px;
	line-height: 44px;
    }
}

.hero-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #eee;
    .hero {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 80%;
	height: 100px;
	line-height: 0px;
	text-align:center;
    }
    .text {
	line-height: 1.5em;
    }
}

.home {
    padding: 60px 8%;

    h1 {
	margin: 20px 0 10px 0;
    }
    ul {
    }
    p {
	margin: 0.6em 0;
    }
}

.posts a {
    line-weight: 44px;
}

.site-footer {
    padding: 40px 8% 80px;
    background-color: $base-color;

    .footer-heading {
	font-size: 14px;
	margin: 10px 0;
	color: white;
    }

    a {
	color: #eaa;

	&:hover {
	    color: #fcc;
	}
    }

    li  {
	margin: 0 1em;
    }
}

.post-header {
    margin: 100px 8%;

    h1 {
	font-size: 24px;
    }
}

.post-content {
    margin: 40px 8%;
    max-width: 800px;

    p {
	color: black;
    }

    h1 {
	font-size: 20px;
	margin: 3em 0 1.3em 0;
    }
    li {
	font-size: 14px;
    }
    a {
	font-size: 16px;
	display: block;
	margin: 0 0 0.8em 0;
    }
}

.organization, .name, .event-name, .event-date {
    display: inline-block;
}

table   { width: 100%; }
th, td  { padding: 10px; border: 1px solid #ddd; }
.h100nin th  { background: #f4f4f4; }
.h100nin th, .h100nin td  { width: 20%; text-align: left; }
@media only screen and (max-width: 480px) {
    .h100nin{ margin: 0 -10px; }
    .h100nin tr {
        display:block;
        margin-bottom: 10px;
    }
    .h100nin th {
        display:block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .h100nin td {
        display: list-item;
        width: 90%;
        margin-left: 10%;
        border:none;
    }
    .post-content .h100nin a {
        margin: 0;
    }
}

article:last-child {
    margin-bottom: 180px;
}
